<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./detail.css">
    <title>Movie Detail</title>
</head>

<body>
    <h1>Header</h1>
    <img src="https://phephim.vn:3004/static/1570600154356-vq4bf59m4_image.jpeg"
        class="movie-banner" alt="Responsive image">
    <div class="movie-detail container">
        <div class="poster-info">
            <div>
                <img src="https://phephim.vn:3004/static/1570600151360-ubte5cd7g_image.jpeg" alt="poster">
            </div>
            <div class="movie-info">
                <h3>Infomation</h3>
                <div>
                    <small>Rated</small>
                    <small>The loai</small>
                    <small>Dao dien</small>
                    <small>Dien vien</small>
                </div>
            </div>
        </div>
        <div class="movie-review">
            <h3 class="movie-title">Thất Sơn Tâm Linh</h3>

            <small>Giat gan kinh di</small>
            <div class="movie-des">
                Thất Sơn Tâm Linh là câu chuyện kể về gã thầy thuốc sát nhân tên Huỳnh. Với tướng mạo hiền từ, cách nói
                chuyện nhẹ nhàng, từ tốn, thường xuyên chữa bệnh mà không lấy tiền, hắn tạo được lòng tin của rất nhiều
                người dân ở nơi hắn đến. Hắn ta luôn gieo rắc vào đầu người khác về những bài thuốc bí truyền, những
                cách chữa bệnh kỳ lạ mang đậm màu sắc kì dị…Nhưng đằng sau đó là một âm mưu khủng khiếp!
            </div>

            <div class="rate-review">
                <bold>Danh gia</bold>
                <input type="text" placeholder="Binh luan">
            </div>
        </div>
    </div>
    <h1>Footer</h1>
</body>

</html>