<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
        <link rel="stylesheet" href="./home.css">
    <title>Project 3</title>
</head>
<style>

</style>
<body>
    <div class="header container">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link active" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Movies</a>
            </li>
            <li class="nav-item">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Default</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Sizing example input"
                        aria-describedby="inputGroup-sizing-default">
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Register</a>
            </li>
        </ul>
    </div>
    <div class="container post-form">
            <div class="col-lg-6 push-lg-3">
            <form action="addbanner" method="post" id="form" enctype="multipart/form-data">
                <fieldset class="form-group">
                    <label for="context" style="font-size:22px; display: block;">Viết bài</label>
                    <textarea placeholder="Viết bình luận của bạn..." name="context"style="height: 300px; overflow-y: hidden;  width: 100%"></textarea>
                    
                    <label for="thumb" style="font-size:22px;display: block;">Chọn danh mục</label>
                    <select name="thumb">
                        <option>Phân tích</option>
                        <option>Hỏi đáp</option>
                        <option>Chia sẻ</option>
                    </select>

                    <label for="tag" style="font-size:22px;display: block;">Tags</label>
                    <input type="text" class="form-control" name="tag" minlength="3" id="tags" placeholder="Nhập tag vào đây">
                    
                    <label for="tag" style="font-size:22px;display: block;">Ảnh bìa</label>
                    <input type="file" class="form-control" name="image"  id="image">

                </fieldset>

                <button type="submit" class="btn btn-secondary">Đăng bài</button>
            </form>
        </div>
    </div>






       <footer>

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2018 Copyright:
            <a href="https://mdbootstrap.com/education/bootstrap/">Project3</a>
        </div>
        <!-- Copyright -->

    </footer>
</body>

</html>